{% extends 'base.html' %}
{% block title %}{{ form.instance.pk|yesno:"Edit Loan Product,Add New Loan Product" }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center mb-4">{{ form.instance.pk|yesno:"Edit Loan Product,Add New Loan Product" }}</h2>

    <form method="post" class="card p-4 shadow-sm">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="text-center mt-3">
            <button type="submit" class="btn btn-success btn-sm">Save</button>
            <a href="{% url 'loans:loan_products_list' %}" class="btn btn-secondary btn-sm">Back to List</a>
        </div>
    </form>
</div>
{% endblock %}
